.about__company {
    margin: 0;
}

.team {
    grid-column: 2/3;
}

.team__item-wrapper {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
    gap: 20px;

}

.team__item-text {
    width: 70%;

}

.vacancies {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.vacancies__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vacancies__menu a {
    color: var(--color-blue);
    text-decoration: underline;
    text-underline-offset: 2px;
}