.business {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.business__grid {
    grid-row: 1/4;
}

.business__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.business__list-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: clamp(.3rem, 1.3vw, 1.2rem);
    font-weight: 500;
}

.tariffs__business {
    margin-top: 0;
    gap: 40px;
}

.tariffs__business-slide {
    width: 50%;
}

.tariffs__business-connect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    width: 100%;
}

.tariffs__connect-summ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 100%;
    align-items: start;
    grid-column: 2/3;
    grid-row: 1/3;
}

.tariffs__connect-summ a {
    font-size: clamp(.3rem, 1.6vw, 16px);
    font-weight: 600;
}

.tariffs__connect-summ button {
    font-size: clamp(.3rem, 1.6vw, 16px);
}

.tariffs__connect-time {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: clamp(.3rem, 1.6vw, 16px);
    font-weight: 500;
}

.tariffs__connect-time::before {
    display: block;
    content: '';
    background-image: url(../img/icons/time_7698966.svg);
    background-size: contain;
    width: clamp(.3rem, 3.3vw, 35px);
    height: clamp(.3rem, 3.3vw, 35px);
}

.tariffs__business-connect li {
    flex-direction: column;
    align-items: start;
    width: 70%;
    height: 100%;
}


.tariffs__business--bigText {
    font-size: clamp(.3rem, 1.6vw, 30px);
    font-weight: 500;
}

.value-tariffs {
    font-size: clamp(.3rem, 1.6vw, 14px);
    line-height: 16px;
}

.wifi {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.wifi--bigText {
    font-size: clamp(.3rem, 1.6vw, 1.2rem)
}

.wifi__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(.3rem, 4.6vw, 5.2rem);
}

.wifi__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
    font-size: clamp(.3rem, 1.6vw, 1.2rem);

}

.wifi__list-item li {
    list-style: disc;
}

.price {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.price__title {
    font-size: clamp(.3rem, 1.6vw, 18px);
    color: #999999;
    font-weight: 600;
    text-align: start;
}

.price__table {
    border-spacing: 0px 10px;
}

.price__table td {
    font-size: clamp(.3rem, 1.6vw, 16px);
    padding: 5px;
}

.price__table tr:nth-child(even) {
    background-color: #d8f0fc;
}

.projects__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projects {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.projects img {
    width: 22%;
}

.projects__wrap-watch {
    display: block;
    text-align: end;
    width: 100%;
    color: var(--color-blue);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-size: clamp(.5rem, 1.3vw, 16px);
}

.connect a {
    color: var(--color-blue);
    text-decoration: underline;
    text-underline-offset: 2px;
    font-weight: 600;
}

.video__table-item tr:nth-child(even) {
    background-color: #f2f2f2;
}

.video__table {
    border-spacing: 0px 40px;
}

.video__table td {
    vertical-align: top;
    font-size: clamp(.3rem, 1.6vw, 16px);
    padding: 10px;
}

.video__table th {
    padding: 0 10px;
}

.archive {
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.archive__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.archive__list li {
    font-size: clamp(.3rem, 1.6vw, 16px);
    list-style: disc;
}

.archive__list ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    gap: 20px;
}

.archive__table {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.archive__table-item {
    display: flex;
    justify-content: space-between;
}

.archive__table-item--widht {
    width: 40%;
}

.connect__video {
    margin: 15px;
}