@import url(header.css);
@import url(form.css);
@import url(tarrifs.css);


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    position: relative;
    --color-green: #ccff66;
    --color-blue: #00abfe;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

/* 
h1{
    font-weight: 600;
    font-size: clamp(.5rem, 2vw, 2.3rem)
} */

h2 {
    font-weight: 600;
    font-size: clamp(.5rem, 2vw, 30px);
}

h3 {
    font-size: clamp(.5rem, 2vw, 2.9rem);

    font-weight: 500;
}

h4 {
    font-weight: 600;
    font-size: 1.2rem;
}

h6 {
    font-size: clamp(.3rem, 1.6vw, 18px);
    color: #999999;
    font-weight: 600;
    text-align: start;
}


a {
    font-weight: 400;
    font-size: clamp(.5rem, 1.3vw, 15px);
}

p,
legend {
    font-size: clamp(.3rem, 1.3vw, 16px);
    font-weight: 400;
}


span {
    font-size: clamp(.3rem, 1.3vw, 12px);
    font-weight: 400;
}

img {
    width: 100%;
}

button {
    font-weight: 400;
    font-size: clamp(.6rem, 1.3vw, 16px);

}

.button--border:hover {
    background-color: #ccff66;
    box-shadow: 0px 0px 15px #00abfe;
    outline: 1px solid #00abfe;
    color: #000;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 60px 30px;
}

.grid__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

.extended__news-grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 80px 10px;
}

.aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aside__menu a {
    text-decoration: underline;
}

.path {
    height: 40px;
    background-color: #f1f1f1;
    width: 100%;
}

.path__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 7px;
    color: #999999;
}

.path--blue {
    color: var(--color-blue);
    text-decoration: underline;
}


.banner {
    position: relative;
    width: 100%;
    background-image: url(../../img/banner.png);
    height: 480px;
    background-size: cover;
}



.banner__content {
    /* position: absolute;
    top: 20%;
    left: 15%; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.wrapper__banner {
    justify-content: center;
    height: 100%;
    display: flex;flex-direction: column;
    align-items: start;
}
.banner__content a {
    color: #fff;
    font-weight: 500;
    transition: .3s;
    letter-spacing: .03vw;
    background-color: #00abfe;
    text-align: center;
    font-size: clamp(.5rem, 1.3vw, 15px);
}

.banner__background {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.banner__content-text {
    font-size: 25px;
    color: white;

}

.banner__content-text p {
    font-weight: 600;
    font-size: clamp(.3rem, 1.8vw, 36px);
}

.banner--big-text {
    font-weight: 600;
    font-size: 72px;
}

.fire {
    max-width: 35px;
    width: 1.5vw;
}

.banner__content-button {
    width: 45%;
    padding: 1vw;
    color: white;
    font-weight: 500;
}




.street {
    color: #999999;
    font-size: 1.2rem;
}

.button {
    padding: clamp(.6rem, 1.5vw, 1rem) clamp(.6rem, 3vw, 3rem);
    font-size: clamp(.6rem, 1.3vw, 16px);
    font-weight: 500;
    transition: .3s;
    letter-spacing: .03vw;
    background-color: #00abfe;
    color: white;
    border-radius: 3px;
}


.check {
    display: flex;
    gap: 15px;
    margin: 30px 0 0 30px;
    font-size: clamp(.3rem, 1.5vw, 14px);
    color: #999999;
}

.check a {
    color: #ff0c6d;
    text-decoration: underline;
    font-size: clamp(.3rem, 1.5vw, 14px);

}

.check input {
    cursor: pointer;
    transform: scale(1.5);
}



.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 30px;
    position: relative;
}

.map__check {
    text-decoration: underline;
    color: #b4b4b4;
    cursor: pointer;
}

.news__item {
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    height: clamp(.3rem, 35.5vw, 450px);
    max-height: 450px;
}

.news__operator {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 70px;
}

.news__operator button {
    margin: 0 auto;
}

.news__operator-title {
    display: flex;
    gap: 30px;

}

.news__operator-title img {
    width: 65%;
    /* height: 350px; */
    object-fit: cover;
}

.news__operator-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boxshadow {
    box-shadow: 2px 4px 10px #c9c9c9;
}

.news--height {
    height: 100%;
    padding: 30px;
}

.news__operator-text a {
    text-decoration: underline;
    color: #ff3333;
    font-weight: 700;

}

.news__item-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;

}


.news {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.news-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.other__news {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.news--text-center {
    align-items: center;

}

.news--text-center a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.extended__news {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.extended__news img {
    width: 70%;
}

.extended__news-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

.extended__news-aside {
    justify-content: space-around;
    height: 100%;
}

.extended__news-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.extended__news-item img {
    width: 100%;
}

.news-text--gap {
    gap: 20px;
    padding: 20px 20px;
}

.news__operator--extended {
    margin: 0;
}

.button__news {
    background: none;
    border: 2px solid #00abfe;
    font-weight: 600;
    color: #000;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 90px;
    font-size: 1.2rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 55px;
}

.grid__contacts {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 45px;
}

.grid__contacts-item {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer {
    margin-top: 200px;
}

.footer__nav {
    background-color: #d9f036;
    width: 100%;
    color: #000;
    display: flex;
    height: 55px;
    align-items: center;
}

.footer__nav a {
    color: #000;
    font-size: clamp(.5rem, 1.3vw, 16px);
}




.footer__nav a:visited {
    color: #000;
}

.footer__nav li:hover a {
    color: #00abfe;
}

.footer--font:hover {
    color: #00abfe;
}

.footer--font {
    font-weight: 600;
}

.footer {

    background-color: #000;
    color: white;
    height: 300px;
    padding-top: 40px;
    position: relative;
}

.footer-wrap {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

footer img {
    max-width: 500px;
}

footer a {
    color: white;
}

footer li:hover a {
    color: #ccff66;
}

footer a:visited {
    color: white;
}

.footer__item {
    display: flex;
    flex-direction: column;
    width: 23%;
    gap: 30px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

/* .footer__item p {
    line-height: 14px;
} */

.footer__contacts-icons {
    display: flex;
    gap: 30px;
}

/* footer::after {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    background-color: #d9f036;
    height: 20px;
} */