h1 {
    font-weight: 600;
    font-size: clamp(.5rem, 2vw, 2.3rem)
}

.tariffs {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.tariffs__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tariffs__calc-wrap {
    display: flex;
    gap: 30px;

}

.tariffs__calc {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 75%;
}

.slider-wrap {
    width: 100%;
    position: relative;
    display: flex;
    padding: 0 5px;
    align-items: center;
}

.tariffs__calc-slider {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#slider-rout,
#slider-internet,
#slider-tv,
#slider-business {
    width: 100%;
    appearance: none;
    background: #bbbbbb;
    height: 5px;
    border-radius: 2px;
    cursor: pointer;
}

/* #slider-internet {
   
    background: linear-gradient(to right, #bbb 0%, #00abfe 33.33%, #bbb 33.33%);
} */

#slider-rout::-webkit-slider-thumb,
#slider-internet::-webkit-slider-thumb,
#slider-tv::-webkit-slider-thumb,
#slider-business::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    z-index: 3;
    cursor: pointer;
    position: relative;
}

#slider-rout::-moz-range-thumb,
#slider-internet::-moz-range-thumb,
#slider-tv::-moz-range-thumb,
#slider-business::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    z-index: 3;
    cursor: pointer;
    position: relative;
}

#select-internet,
#select-rout,
#select-tv,
#select-business {
    height: 25px;
    width: 25px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-green);
    z-index: 5;
}

.slider-fill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 11px;
    background: #00caff;
    border-radius: 4px 0 0 4px;
    z-index: 2;
    pointer-events: none;
}

#internet-fill {
    width: 33.33%;
}

.slider__value {
    position: relative;
    display: flex;
    width: 100%;

    /* justify-content: space-between; */
    color: #bbbbbb;
}

.slider__value span {
    position: absolute;
}

.tariffs__calc-toggle {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.toggle {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 30%;
    gap: 10px;

}

.toggle input {
    display: none;
}

.toggle-label {
    position: relative;
    width: 76px;
    height: 30px;
    background: #ccc;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.toggle-label::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle input:checked+.toggle-label {
    background: #00bfff;
}

.toggle input:checked+.toggle-label::after {
    transform: translateX(45px);
    background: #d4ff38;
}

.tariffs__connect {
    color: #fff;
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px 20px;
    align-items: start;
}

.tariffs__connect img {
    max-width: 35px;
}

.tariffs__connect {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tariffs__connect-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tariffs__connect-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tariffs__connect--bigText {
    font-size: clamp(.5rem, 2vw, 2.3rem);
    font-weight: 500;

}

.tariffs__connect-button {
    background-color: #fff;
    color: var(--color-blue);

    padding: clamp(.6rem, 1.5vw, 1rem) clamp(.6rem, 3vw, 3rem);
    font-size: clamp(.6rem, 1.3vw, 1.1rem);
    font-weight: 600;
}

.tariffs__connect-button:hover {
    background-color: var(--color-green);
    box-shadow: 0px 0px 15px var(--color-green);

}

.tariffs__connect a {
    color: #fff;
    text-decoration: underline;
}

.tariffs__connect a:hover {
    color: var(--color-green);

}